#img { 
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    margin-top: -200px;
}
#hName {
    margin-left: 130px;
}
.first{
    margin-top: 3%;
}
#h2{
    margin-left: 130px;
    margin-top: -35px;
    color: red;
}
.checked {
    color: orange;
  }
h3{
    color: #CF7202;
    margin-left: 10px;
}
#personal {
    margin-left: 20px;
}